<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">NewsHub</a>
</nav>


<div class="container">
  <div class="row">
  <div class="col-md-6">
    <div class="col-title">
      Saved Articles
    </div>
    {{>articles-block}}
  </div>


  </div>



</div>
