body{
  background:#f4f4f4;
    
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
  
#wrapper{
  max-width:100%;
  padding:50px 0px 50px 0px;
  position:relative;
}
.controls{
  text-align: center;
  font-size: x-large;
  background: #a4a3a3;
  -moz-box-shadow: 0px 1px 5px 0px #676767;
  -webkit-box-shadow: 0px 1px 5px 0px #676767;
  box-shadow: 0px 1px 5px 0px #676767;
}
  
.title{
  width: 100%;
  color:#292828;
}
  
  
ul{
  width:300em;
  list-style-type:none;
  padding:50px 0 50px 0;
}
  
#content{
  position:relative;
}
  
.card{
  background:#fff;
  margin-right:10px;
  margin-bottom:40px;
  cursor:pointer;
  transform: scale(1);
  visibility:visible;
  -moz-box-shadow: 0px 1px 5px 0px #676767;
  -webkit-box-shadow: 0px 1px 5px 0px #676767;
  box-shadow: 0px 1px 5px 0px #676767;    
}

.carousel-card{
  width: 25em;
  height:350px;
  float:left;
}
.saved-article {
 
  background:#fff;
  margin-right:10px;
  margin-bottom:40px;
  transform: scale(1);
  -moz-box-shadow: 0px 1px 5px 0px #676767;
  -webkit-box-shadow: 0px 1px 5px 0px #676767;
  box-shadow: 0px 1px 5px 0px #676767;  
}
.art-save-btn{
  position: absolute;
  bottom: 3px;
  right: 3px;
  color: #4a4848;
}

i:hover {
  color: purple;
}


.add-comment {
  position: absolute;
  bottom: 3px;
  right: 3px;
  color: #4a4848;
}

.saved-card{
  display: flex;
  flex-direction: row;
}

.saved-title{
  padding: 20px;
  vertical-align: middle;
  font-size: large;
  text-align: center;
}

.saved-img{  
  top:0;
  left:0;
  max-height: 250px;
  padding: 0;
  display: inline;

}

img {
  max-width:100%;
max-height:100%;
}
  
  .carousel-card:hover{
    cursor:pointer;
    transform: scale(1);
    visibility:visible;
    transition: all .2s ease-in-out;
    transform: scale(1.1); 
    z-index:100;
    position:relative;
    transition-timing-function:cubic-bezier(0.5, 0, 0.1, 1);
    transition-duration:400ms;
   
    
  }
  
   .inside-top{
    width:100%;
    position:absolute;
    top:0;
    left:0;
  }

  .carousel-image{
    max-width: 100%;
    }
  
  a {
    color: inherit;
    text-decoration: inherit;
  }

  .art-title {
    padding: 10px;
    margin-top: 230px;
    text-align: center;
  }

  .clearfix {
    overflow: auto;
    zoom: 1;
  }
  
  /* Saved Content */
  .saved-content{
    padding:50px 0 50px 0; 
  }
.row{
  margin: 20px 0 0 0;
}
  .comment-form{
    display: none;
    color: #4a4848;
    background:#fff;
    padding: 10px;
    margin-right:10px;
    margin-bottom:10px;
    transform: scale(1);
    -moz-box-shadow: 0px 1px 5px 0px #676767;
    -webkit-box-shadow: 0px 1px 5px 0px #676767;
    box-shadow: 0px 1px 5px 0px #676767;  
  }

  
.bubble 
{
position: relative;
width: 100%;
padding: 10px;
margin-top: 20px;
background: #FFFFFF;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
border: #7F7F7F solid 2px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -15px;
top: -15px;
left: 10%;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 16px 16px;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -16px;
top: -18px;
left: 10%;
}

.del_rec{
  
}

.comment-date{
  display: inline;
}

.card-header{
  margin: 0;
  padding: 0;
}
.comment-content{
  padding: 0 10px 0 10px;
}