{{#each scrapedArticles}}

<li class="card carousel-card">
  <div class="inside-top">
    <img class="carousel-image card-header" src={{image}}>
  </div>
  <div class="art-title"><a href="{{link}}">{{title}}</a></div>
  <i class="fas fa-cloud-download-alt fa-2x save-article"></i>
</li>

{{/each}}
